# hiondal/deployment/manifest/deployments/mysub-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysub
  template:
    metadata:
      labels:
        app: mysub
    spec:
      imagePullSecrets:
        - name: dockerhub
      containers:
        - name: mysub
          image: dg0200cr.azurecr.io/lifesub/mysub:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          resources:
            requests:
              cpu: 256m
              memory: 256Mi
            limits:
              cpu: 1024m
              memory: 1024Mi
          envFrom:
            - configMapRef:
                name: common-config
            - configMapRef:
                name: mysub-config
            - secretRef:
                name: common-secret
            - secretRef:
                name: mysub-secret
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 15
