# lifesub/deployment/manifest/deployments/recommend-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommend
  template:
    metadata:
      labels:
        app: recommend
    spec:
      containers:
        - name: recommend
          image: dg0200cr.azurecr.io/lifesub/recommend:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8083
          resources:
            requests:
              cpu: 256m
              memory: 256Mi
            limits:
              cpu: 1024m
              memory: 1024Mi
          envFrom:
            - configMapRef:
                name: common-config
            - configMapRef:
                name: recommend-config
            - secretRef:
                name: common-secret
            - secretRef:
                name: recommend-secret
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 60
            periodSeconds: 15